@import url(/styles/reset.css);
@import url(/styles/alert-button.css);
@import url(/styles/avatar-badge.css);
@import url(/styles/card.css);
@import url(/styles/image-input.css);
@import url(/styles/grid.css);
@import url(/styles/navigation-bar.css);
@import url(/styles/toast.css);
@import url(/styles/modal.css);
@import url(/styles/rating.css);
@import url(/styles/landing-page.css);
@import url(/styles/documentation.css);
@import url(/styles/slider.css);
@import url(/styles/main.css);

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
