/* avatar style */
.small-round-avatar{
    width: 100%;
    max-width: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.medium-round-avatar{
    width: 100%;
    max-width: 70px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.large-round-avatar{
    width: 100%;
    max-width: 100px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

/* badge style */
.div-flex{
    display: flex;
}
.div-flex-text{
    margin: 0;
    font-size: 2rem;
}
.badge-icon .fa{
    display: block;
    width: 100%;
    font-size: 50px;
    min-width: 100px;
    max-width: 100px;
    border-radius: 50%;
}
.badge-avatar{
    width: 100%;
    max-width: 100px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.badge{
    align-self:flex-end;
    position: absolute;
    background-color: var(--primary-color);
    border-radius: 50%;
    font-size: 100%;
    height: 20px;
    width: 20px;
    text-align: center;
    color: var(--badge-color);
}