/* card style */
.basic-card-container{
    background-color: var(--badge-color);
    padding: 1rem;
    border-radius: 0.3rem;
    margin: 1rem;
    max-width: 30rem;
    box-shadow: 1px 1px 15px 0 rgb(172, 170, 170);
}
.card-heading{
    font-size: 2rem;
    margin: 0.5rem;
}
.card-subheading{
    font-size: 1rem;
    margin: 0 0 0.5rem 0.5rem;
}
.card-body{
    margin: 0 0.5rem 0.5rem 0.5rem;
}
.card-footer{
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    font-size: 1rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--badge-color);
    cursor: pointer;
}
.btn.wo-outline{
    color: var(--primary-color);
    background-color: var(--badge-color);
}
.card-photo{
    width:100%;
    max-width: 30rem;
    max-height: 17rem;
    border-radius: 0.3rem;
}
.photo-card-container .basic-card-container{
    position: relative;
    padding : 0;
}
.text-on-picture .card-heading{
    position: absolute;
    top : 53%;
}
.photo-card-container .card-footer{
    /* margin-bottom: 1rem; */
    padding-bottom: 1rem;
}
.text-on-picture .card-subheading{
    position: absolute;
    top : 68%;
}