.container{
    position: relative;
}
.comp{
    border: solid 0.24rem var(--primary-color);
}
.container .navigation
{
    position : fixed;
    width : 20rem;
    margin-top: 6rem;
    /* height: 100vh; */
    height: -webkit-fill-available;
    background: var(--bg-color);
    border-radius: 0;
    overflow:hidden;
}
.navigation{
    position: fixed;
}
.container .navigation .nav-ul .nav-list-item{
    display: flex;
    align-items: center;
}
.container .navigation .nav-ul .nav-list-item a:hover
{
    background-color: var(--primary-color);
    color: var(--bg-color);
    border-radius: 0.5rem;
}

.container .navigation .nav-ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.container .navigation .nav-ul .nav-list-item{
    position: relative;
    list-style: none;
    width: 100%;
}
.container .navigation .nav-ul .nav-list-item .comp-links{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
}
.container .navigation .nav-ul .nav-list-item .comp-links .title{
    position: relative;
    display: block;
    height: 0.8rem;
    line-height: 20px;
    display: flex;
    align-items: center;

}
.main-area{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
}
.comp{
    margin-bottom: 2rem;
}
.heading1{
    font-size: 3rem;
}
.color-primary{
    color: var(--primary-color);
    height:2rem'
}
.color-primary:hover{
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: 0;
}
.component-info{
    font-size: 1.5rem;
}

@media screen and (max-width: 600px){
    .menu-items .menu-item-list{
        display: flex;
    }
    .menu-items .list-item .menu-link {
        font-size: 1.2rem;
        margin: 0.6rem;
        display: flex;
    }
    .nav-container .menu-item-list{
        flex-direction: column;
    }
    .comp-links{
        display: none;
    }
    .container .navigation .nav-ul
    {
        position : fixed;
        margin-top: 9.5rem;
        height: -webkit-fill-available;
        background: var(--bg-color);
        border-radius: 0;
        overflow:scroll;
        width:3rem;
    }
    .container .navigation{
        width: 5rem;
    }
    .container .navigation .nav-ul .nav-list-item .comp-links .title{
        display: none;
    }
    .container .navigation .nav-ul .nav-list-item .icon-display .color-primary{
        padding: 0.5rem;
    }
}
