.grid-container{
    display: grid;
  }
  .grid-child{
    border : solid 0.16rem black;
    height : 5rem;
    /* width : 5rem; */
    background-color: #DAA06D;
    display : flex;
    align-items: center;
    justify-content: center;
  }
  .two-child{
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }
  .three-child{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .multi-child{
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 1rem;
    
  }