.main-area{
    display: flex;
    flex-direction: column;
    margin : 6rem 0 0rem 17rem; 
    width: 100%;
    padding: 4rem;
}
.comp{
    margin-bottom: 2rem;
}
.alert-comp.green{
    background-color: var(--greenalert-color);
}
.alert-comp.red{
    background-color: var(--redalert-color);
}
@media screen and (max-width: 600px){
    .main-area{
        margin: 6.5rem 0 0 3rem;
        padding-left: 2rem;
    }
}