.modal-container{
    width: 60rem;
    height: 13rem;
    border : solid 0.1rem var(--black-color);
    display: flex;
    flex-direction: column;
    border-radius: 0.1rem;
  }
  .modal-header{
    height: 2rem;
    display : flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--primary-color);
  }
  .modal-cross{
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--redalert-color);
    color: var(--bg-color);
    margin-right: 0.1rem;
  }
  .modal-body{
    height : -webkit-fill-available;
    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
  }
  .modal-info{
    font-size: 1.5rem
  }
  .modal-button{
    width: 7rem;
    height: 2rem;
    margin-top: 1rem;
    background-color: var(--grey-color);
    color: var(--bg-color);
    box-shadow: 0 0.1rem var(--grey-color);
    border-radius: 0.2rem;
  }
  .modal-button:hover{
    width: 7rem;
    height: 2rem;
    cursor: pointer;
    background-color:var(--primary-color);
    color: var(--bg-color);
    
  }