.navigation-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0.1rem 0.1rem grey;
}

.logo{
    font-size: 2.5rem;
    margin: 1.5rem;
    margin-left: 2rem;
}

.menu-item{
    display: flex;
}
.menu-item .nav-ul{
    margin: 0;
    margin-right: 1rem;
    padding: 0;
    display: flex;
}
.menu-item .list-items{
    list-style: none;
}

.menu-item .list-items .menulink {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2rem;
    margin: 1rem;
    display: block;
}