:root{
    --primary-color: #DAA06D;
    --badge-color: #F5F5F5;
    --bg-color: #FFFFFF;
    --black-color: #000000;
    --redalert-color:rgb(194, 24, 24);
    --greenalert-color:rgb(36, 177, 18);
}

*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.alert-cross{
    color: var(--badge-color);
    cursor: pointer;
}
.alert-cross:hover{
    color: var(--black-color);
}

.light-heading{
    font-weight: lighter;
}
.bold-heading{
    font-weight: bolder;
}
.small-para{
    font-size: 1rem;
}
.medium-para{
    font-size: 1.5rem;
}
.big-para{
    font-size: 2rem;
}
.centered-text{
    display: flex;
    text-align: center;
}
.code-snippet{
    display: flex;
    justify-content: center;
}
.image.code-snippet{
    width : 100%;
    max-width: 50rem;
    min-width: 30rem;
}
.heading1{
    font-size: 2rem;
}
.heading2{
    font-size: 1.5rem;
}

.small-space{
    margin-bottom: 2rem;
}
.comp-container{
    padding: 2rem;
}