:root{
    --primary-color: #DAA06D;
    --badge-color: #F5F5F5;
    --redalert-color: rgb(175, 29, 29);
    --greenalert-color: rgb(20, 121, 20);
}

*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.alert-comp.green{
    background-color: var(--greenalert-color);
}
.alert-comp.red{
    background-color: var(--redalert-color);
}
.alert-cross{
    color: var(--badge-color);
    cursor: pointer;
}
.alert-cross:hover{
    color: black;
}