.toast-container{
    width: 30rem;
    height: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    color: var(--bg-color);
    background-color: var(--greenalert-color);
    border-radius: 0.2rem;
  }
  .toast-text{
    margin-left: 1rem;
  }
  .toast-cross{
    margin-right: 1rem;
  }
  @media screen and (max-width: 600px){
    .toast-container{
      height: 2.5rem;
      width: 17rem;
    }
  }